apache-sedona[db]
jupyter
jupyterlab
mike
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-material
mkdocs-jupyter
mkdocstrings[python]
notebook
nbconvert
pyproj
ruff
