mike
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-material
mkdocstrings[python]
nbconvert
pyproj
ruff
mkdocs-jupyter
jupyter
notebook
jupyterlab
apache-sedona[db]